/* General Styling */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, #f8f8f8, #d9d9d9);
    color: black;
    text-align: center;
}

/* Header Styling */
#header-container {
    width: 100%;
}

#header {
    background: linear-gradient(to right, #2A2AC0, #00A550);
    padding: 5px 5%; /* Reduced padding to make panel more compact */
    text-align: center;
    color: white;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100px; /* Reduced height for a more compact look */
    position: relative;
}

/* Logos inside the header */
.header-logos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1100px;
    position: absolute;
    top: 5px;
    left: 50%;
    transform: translateX(-50%);
}

.header-logo {
    width: 187px;
    height: auto;
}

/* Main Logo Positioning */
#logo {
    width: 575px;
    height: auto;
    position: absolute;
    top: 35px; /* Move it up to fit between university logos */
    max-width: 50vw;
}

/* Title Text Adjustments */
.title {
    font-size: 24px;
    font-weight: bold;
    margin-top: 75px; /* Adjust to move text higher */
    color: black; /* Changed to black */
}
